<%= form_for [@tvshow, @tvshowreview], html: {:class => "form-horizontal"} do |f| %>

  <% if @tvshowreview.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(@tvshowreview.errors.count, "error") %> prohibited this TV show review from being saved:</h2>
    <ul>
      <% @tvshowreview.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :review, :class => 'control-label col-md-2' %>
    <div class='form-controls col-md-4'>
      <%= f.text_field :review, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :rating, :class => 'control-label col-md-2' %>
    <div class='form-controls col-md-4'>
      <%= f.number_field :rating, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'cancel', tv_show_path(@tvshow), class: 'btn btn-default'%>
  </div>
</div>
<% end %>
