<div class="container">
  <div class="page-header">
    <%= link_to 'Account Settings', edit_user_path(@user), class: 'btn btn-default  pull-right' %>
    <h1><%= @user.username %></h1>
  </div>
<div class="row bio">
  <div class="col-md-4">
    <%= image_tag @user.avatar_url, class: 'img-responsive' %>
  </div>
  <div class="col-md-8">
    <h3><%= @user.bio %></h3>
      Likes <%= link_to add_like_path(@user) do %><i class="fa fa-heart"></i><% end %> <%=@user.likes %>
    </div>
</div>


<div class="row">

  <% @user.tv_show_reviews.each do |tvreview| %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= tvreview.tv_show.title %>
            <% tvreview.rating.times do %>
            <div class="pull-right">
              <span class="glyphicon glyphicon-star" aria-hidden="true" style="padding-right: 6px; left: 10px"></span>
              <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <%= tvreview.review %>
        </div>
      </div>
    </div>
  <% end %>
</div>


</div>
