<h1>Homepage</h1>
<h3>TV Shows</h3>
<%= link_to 'Create Show', new_tv_show_path %>
<% @tvshows.each do |tvshow| %>
<%= link_to tvshow.title, tv_show_path(tvshow) %>
<%= tvshow.genre %>
<%= link_to 'Edit', edit_tv_show_path(tvshow) %>
<%= link_to 'Delete', tv_show_path(tvshow), method: :delete %>
<% end %>
