<div class="col-md-4">
  <%= link_to 'New Show', new_tv_show_path, class: 'btn btn-default pull-right btn-sm', id: 'new-show' %>
  <h3>TV Shows</h3>
    <ul class="list-group">
      <% @tvshows.each do |tvshow| %>
      <li class="list-group-item">
        <span class="badge">Reviews: <%= tvshow.tv_show_reviews.count %></span>
        <%= link_to "#{tvshow.title} | #{tvshow.genre.name}", tv_show_path(tvshow) %>
      </li>
      <% end %>
    </ul>
</div>

<div class="col-md-8">
  <% if current_user %>
    <h3>Recent Reviews from Users You Follow</h3>
  <% else %>
    <h3>Recent Reviews</h3>
  <% end %>
  <% @tvreviews.each do |tvreview| %>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= tvreview.tv_show.title %>
            <% tvreview.rating.times do %>
            <div class="pull-right">
              <span class="glyphicon glyphicon-star" aria-hidden="true" style="padding-right: 6px; left: 10px"></span>
              <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <%= tvreview.review %>
          <p><em>-<%= tvreview.user.username %></em>
        </div>
      </div>
    </div>
  <% end %>
</div>
