<!DOCTYPE html>
<html>
<head>
  <title>Twitflick</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-film" aria-hidden="true" style="right: 10px;"></span>TwitFlick</a>
       </div>
       <ul class="nav navbar-nav">
         <li class="active"><a href="/tv_shows">TV Shows</a></li>
         <li><a href="/users">Reviewers</a></li>
       </ul>
       <div class="navbar-header pull-right">
         <% if current_user %>
           <%= link_to current_user.username, user_path(current_user), class: 'navbar-brand' %>
           <%= link_to 'Sign Out', logout_path, class: 'navbar-brand' %>
         <% else %>
           <%= link_to 'Sign Up', signup_path, class: 'navbar-brand' %>
           <%= link_to 'Sign In', login_path, class: 'navbar-brand' %>
         <% end %>
       </div>
     </div>
   </div>

   <% flash.each do |type, message| %>
  <% if type == "notice" %>
  <div class="alert alert-success"><b><center><%= message %></b></center></div>
  <% elsif type == "alert" %>
  <div class="alert alert-danger"><b><center><%= message %></b></center></div>
  <% end %>
  <% end %>

    <%= yield %>
  </div>

</body>
</html>
